/*===========================
    01.GENERAL css 
===========================*/


@font-face {
  font-family: 'GT America CM';
  src: url('../fonts/GT_America_Condensed_Medium/GT_America_Condensed_Medium.eot');
  src: url('../fonts/GT_America_Condensed_Medium/GT_America_Condensed_Medium.eot?#iefix') format('embedded-opentype'), 
	   url('../fonts/GT_America_Condensed_Medium/GT_America_Condensed_Medium.woff2') format('woff2'), 
	   url('../fonts/GT_America_Condensed_Medium/GT_America_Condensed_Medium.woff') format('woff'), 
	   url('../fonts/GT_America_Condensed_Medium/GT_America_Condensed_Medium.ttf') format('truetype'), 
	   url('../fonts/GT_America_Condensed_Medium/GT_America_Condensed_Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GT America EB';
  src: url('../fonts/GT_America_Expanded_Bold/GT_America_Expanded_Bold.otf');
  src: url('../fonts/GT_America_Expanded_Bold/GT_America_Expanded_Bold.eot?#iefix') format('embedded-opentype'), 
	   url('../fonts/GT_America_Expanded_Bold/GT_America_Expanded_Bold.woff2') format('woff2'), 
	   url('../fonts/GT_America_Expanded_Bold/GT_America_Expanded_Bold.eot') format('woff'), 
	   url('../fonts/GT_America_Expanded_Bold/GT_America_Expanded_Bold.eot') format('truetype'), 
	   url('../fonts/GT_America_Expanded_Bold/GT_America_Expanded_Bold.eot') format('svg');
  font-weight:bold;
  font-style: normal;
}

@font-face {font-family: "GT America Expanded Bold"; src: url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.eot"); 
	src: url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.eot?#iefix") format("embedded-opentype"), 
		url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.woff2") format("woff2"), 
		url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.woff") format("woff"), 
		url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.ttf") format("truetype"), 
		url("//db.onlinewebfonts.com/t/22b4c73e6141de7c9937f42cb58bdb4b.svg#GT America Expanded Bold") format("svg"); }


.synth-hero-section .hero-content .scroll-bottom, .feature-section .single-feature .icon, .box-style .icon, .testimonial-section .testimonial-active-wrapper .tns-controls button, .testimonial-section .testimonial-active-wrapper .testimonial-active .single-testimonial .testimonial-img .quote, .footer .widget-wrapper .footer-widget .socials li a {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  scroll-behavior: smooth; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  overflow-x: hidden; }


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

a:hover {
  color: #5864FF; }

a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a,
a:focus,
a:hover {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GT America EB';
  margin: 30px 0; }

@media (max-width: 767px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      margin-top: 30px!important;}}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 38px; }

h3 {
  font-size: 18px; 
	color: #fff;
}

a {
    color: #03d1ff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    color: #03d1ff;
}

h2.synth-process-h.fadeInUp {
    margin: 80px 0 50px 0;
    text-shadow: 0px 1px 1px #00000057;
}

h2.synth-members-h.fadeInUp {
    margin: 120px 0 30px 0;
    text-shadow: 0px 3px 3px #000000b0;
    letter-spacing: 1px;
}

.synth-hero-h {
    text-shadow: 0px 3px 3px #000000b0;
    letter-spacing: 1px; 
}

.synth-grants-h {
    text-shadow: 0px 3px 3px #000000b0;
    letter-spacing: 1px; 
    margin: 0 auto;
}

span.synth-g {
    font-family: "Inter";
    font-weight: 800;
    font-size: 41px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .process-section {
    height: 750px;
    }
  .section-title h1 {
    font-size: 40px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title h1 {
    font-size: 35px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title h1 {
    font-size: 40px; } }

@media (max-width: 767px) {
  .section-title h1 {
    font-size: 32px; 
    }
    
    .synth-grant-btn {
    margin-left: -5%!important;
    }
    
 .process-section {
    height: 750px;}}

.section-title span {
  font-size: 25px;
  color: #162447;
  margin-bottom: 30px;
  display: flex;
  align-items: center; }
    
 .section-title span {
   font-size: 18px; }

  .section-title span img {
    max-width: 100%;
    margin-right: 20px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

.process-li {
  background: url("../img/home/synth-li-square.svg") no-repeat left 5px;
  padding-left: 2em;
  padding-bottom: 10px;}

.synth-process-content {
    max-width: 500px;
}


p {
  font-size: 15px;
  line-height: 23px;
  margin: 0px;
  padding: 15px 0; 
  font-family:  'Inter', sans-serif; }


.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.error {
  color: orangered; }

.success {
  color: green; }

/*===== All Button Style =====*/

.synth-pink-button {
	box-shadow: 0px 0px 17px #E11EF5!important;
	border: 2px solid #E11EF5!important;
	color: #E11EF5!important;
    background: #d91ced4a!important;
    text-shadow: 0px 1px 1px #00000057;
    margin-left: 15px;
}

.synth-pink-button:hover {
    background: #e11df52b!important;
}

.synth-blue-button:hover {
    background: #02daff54!important;
}


.synth-blue-button {
	box-shadow: 0px 0px 17px #02dafe!important;
	border: 2px solid #02dafe!important; 
	color: #02dafe!important;
    background: #02daff47!important;
    text-shadow: 0px 1px 1px #00000057;
    font-size: 19px!important;
    margin-right: 15px;
}

img.synth-home-icon-img {
    width: 300px;
    margin: -20px 0 -50px 0px;
}

.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all .4s ease-in-out;
  border: none;
  background: #5864FF;
  overflow: hidden; }
  .main-btn:hover {
    color: #fff; }
  .main-btn.border-btn {
    border: 2px solid #5864FF;
    background: transparent;
    width: 200px;
    color: #5864FF; }

.btn-hover {
  position: relative;
  overflow: hidden; }
  .btn-hover::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    top: 50%;
    left: 50%;
    padding: 50%;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
    -moz-transform: translate3d(-50%, -50%, 0) scale(0);
    -ms-transform: translate3d(-50%, -50%, 0) scale(0);
    -o-transform: translate3d(-50%, -50%, 0) scale(0);
    transform: translate3d(-50%, -50%, 0) scale(0); }
  .btn-hover:hover::after {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.3);
    -moz-transform: translate3d(-50%, -50%, 0) scale(1.3);
    -ms-transform: translate3d(-50%, -50%, 0) scale(1.3);
    -o-transform: translate3d(-50%, -50%, 0) scale(1.3);
    transform: translate3d(-50%, -50%, 0) scale(1.3); }

.synth-section3 {
    background: url("../img/home/synth-section3-bg.png");
    background-color: #cccccc;
    height: 85vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    position: relative;
}

img.synth-car {
    bottom: 10%;
    position: absolute;
}

img.synthetic-grant-members-img {
    width: 95%;
    margin: auto;
    display: block;
}

.scenery-wrapper {
    float: left;
    display: block;
}

img.synth-process-scenery {
    width: 100%;
}

h2.synth-treasury-h.fadeInUp {
    padding: 60px 0 0 0;
}

.process-section {
    background: url(../img/home/process-section-bg.png);
    background-color: #cccccc;
    height: 750px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7px;
}

.grants-members-section {
    background: url("../img/home/grants-members-bg.png");
    background-color: #cccccc;
    height: 90vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2px;
    position: relative;
}

.synth-members-p {
    margin-bottom: 50px;
}


@media only screen and (min-width: 1600px) {
    img.synthetic-grant-members-img {
        width: 95%;
        margin: auto;
        display: block; }

    img.synthetic-grant-members-img {
            width: 95%;
            margin: auto;
            display: block; }}

@media only screen and (min-width: 1400px) {
    img.synthetic-grant-members-img {
        width: 100%;
        margin: auto;
        display: block;}

    .process-section {
      height: 750px; }
    
    .synth-section3 {
      height: 93vh!important; }
    
    .synth-proto-excerpt {
       bottom: 150px; }}
    
@media only screen and (min-width: 1440px) and (max-width: 1500px){
    .process-section {
        bottom: 150px; }
    
    .synth-proto-excerpt {
         bottom: 150px; }} 
    
@media only screen and (min-width: 1500px) {
     .process-section {
        height: 750px; }
    
    grants-members-section {
    margin-top: -9px;
}
    
     .synth-section3 {
        margin-top: -4px;
        height: 100vh; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
     .synth-section3 {
        height: 100vh; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
     .synth-section3 {
       height: 65vh; 
       margin-top: -3px;} }

@media (max-width: 767px) {
    
    .synth-process-h {
      margin: 30px 0 30px 0!important;
      text-align: center;}
 
    .synth-proto-excerpt {
      margin: 30px 0 0 0!important;
      }
    
    .synth-gdao-mini-logo {
      text-align: center;
      margin-top: 220px!important;
      margin-bottom: 23px;  
      }
    
    .synth-gdao-grants-mini-logo {
      text-align: center;
      margin-bottom: 20px;
      margin-top:0;
      }
    
    img.synth-home-icon-img {
      width: 300px;
      margin-top: -50px;
      }
    
    .feature-section .single-feature {
      text-align: center;
      padding: 10px 10px 0 10px;
      }
    
    .synth-vh {
      margin-top: 150px;
      }
    
    .synth-landing-hero {
      height: 630px;
      }
    
    .synth-section3 {
      height: 600px; } }



@media only screen and (min-width: 1600px) {
    .grants-members-section {
        height: 830px; } }

@media only screen and (min-width: 1500px) {
    .grants-members-section {
        height: 830px; } }

@media only screen and (min-width: 1400px) and (max-width: 1500px){
    .grants-members-section {
        height: 830px; } }    

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .grants-members-section {
        height: 830px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .grants-members-section {
        height: 700px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .grants-members-section {
        height: 514px!important; } }

@media (max-width: 767px) {
    .grants-members-section {
        height: 64vh!important; }}

@media (max-width: 400px) {
    
    .synth-footer-blurb-wrapper {
        padding: 0!important;
    }
    
     .social-icons-wrapper {
        }
    
    .synth-footer-logo-wrapper {
      position: absolute;
      bottom: 100px;
      left: 30%;
      }
    
    .footer-text-wrapper {
        position: absolute;
        bottom: 20px;
        font-size: 13px;
    }
    
    .grants-members-section {
        height: 370px!important; }}

@media (max-width: 300px) {
    .grants-members-section {
        height: 64vh!important; }}

.treasury-section {
    background: url(../img/home/treasury-bg.png);
    background-color: #cccccc;
    height: 1150px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.treasury-section-wrapper {
    max-width: 880px;
    display: block;
    margin: auto;
}

@media only screen and (min-width: 1500px) {
    .treasury-section {
        height: 1800px!important } }

@media only screen and (min-width: 1400px) and (max-width: 1500px){
    .treasury-section {
        height: 1600px!important; } }    

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .treasury-section {
        height: 1500px!important; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .treasury-section {
        height: 1150px!important; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .treasury-section {
        height: 1000px!important; } }

@media (max-width: 767px) {
    
    h2.synth-members-h.fadeInUp {
      margin: 60px auto;
      text-align: center;}
    
    .treasury-section {
        height: 88vh!important; }}

@media (max-width: 501px) {
    
    .treasury-section {
        height: 84vh!important; }}



img.synth-proto {
  margin: 75px 0 30px 0px;
  padding-top: 20px;
}

img.synth-proto-footer {
  margin: 40px 0;
  padding-top: 20px;
}

.synth-space {
    padding: 30px 10px 10px 10px;
}

.synth-footer-section {
    background: url("../img/footer/synth-footer-bg.png");
    height: 100vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15px;
    position: relative;
}

.grantsdao-data-heading {
    margin: 0 0 15px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: GT America CM;
}

.grantsdao-data-heading:hover {
    margin: 0 0 15px;
    color: #03d1ff;
    opacity: 0.8!important;
}

.hover:hover {
  opacity: 0.7!important;  
}

.grants-indi-description {
    margin: 15px 0 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: GT America CM;
    letter-spacing: 1px;
}


.data-header {
    color: #03d1ff;
    font-size: 15px;
    font-family: 'GT America CM';
}


.grants-v-btn {
    border: 1px solid #2ec79a!important;
    color: #26a27e!important;
    background: #2fcb9c3b!important;
    text-shadow: 0px 1px 1px #00000057;
    font-size: 15px!important;
    margin: 0px 10px 10px;
    width: 80%;
    border-radius: 31px;
    text-align: center;
    float: right;
    padding: 5px;
}

.grants-paid-btn { 
    border: 1px solid #bd16d4!important;
    color: #bd16d4!important;
    /* background: #02daff47!important; */
    text-shadow: 0px 1px 1px #00000057;
    font-size: 15px!important;
    margin: 0px 10px 10px;
    width: 80%;
    border-radius: 31px;
    text-align: center;
    float: right;
    padding: 5px;  
}

.bio-info-p {
    font-size: 13px!important;
}

.sm-font {
    font-size: 13px!important;
    font-weight: bold;
}

.data-description-wrapper:hover {
    opacity: 0.7!important;
}

.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}

.soft-divider {
    border: 1px solid #2d1442;
    margin: 30px 0;
}

.heading-wrapper {
    border-bottom: 1px solid #2d1442;
    margin: 30px 0; 
    padding-bottom: 15px;
}

.padding-bottom {
     padding-bottom: 30px;
}

.padding-right {
     padding-right: 30px;
}

.candidates-info { 
    padding-bottom: 80px;  
} 


.anchor {
    display:block;
    padding-top:120px;
    margin-top:-100px;
 }

img.synth-proto-footer.wow.fadeInUp {
    width: 92%;
    margin-top: 15px;
}

@media only screen and (min-width: 1800px) {
    .synth-footer-section {
      height: 1500px!important; }}

@media only screen and (min-width: 1700px) {
    .synth-footer-section {
      height: 1300px!important; }}

@media only screen and (min-width: 1600px) {
    .synth-footer-section {
      height: 1300px!important; }}

@media only screen and (min-width: 1400px) {
    .synth-footer-section {
      height: 1100px!important; }}

@media only screen and (min-width: 1440px) and (max-width: 1500px){
    .synth-footer-section {
       height: 900px!important; }}
    
@media only screen and (min-width: 1500px) {
    .synth-footer-section {
      height: 1000px!important; }}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .synth-footer-section {
      height: 900px!important; }}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .synth-footer-section {
      height: 900px!important; }}

@media (max-width: 767px) {
    .synth-footer-section {
     height: 900px!important; }}


.scroll-top {
width: 45px;
    height: 45px;
    background: #e11df52e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #cc1ae0;
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
    border: 2px solid #e11df5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }

@keyframes animation1 {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  50% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  50% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999; }
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .preloader .loader .ytp-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      margin-left: -32px;
      z-index: 18;
      pointer-events: none; }
      .preloader .loader .ytp-spinner .ytp-spinner-container {
        pointer-events: none;
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        top: 50%;
        left: 50%;
        margin-top: -50%;
        margin-left: -50%;
        -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }
        .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            right: 50%; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            left: 50%; }
    .preloader .loader .ytp-spinner-circle {
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 100%;
      border-style: solid;
      /* Spinner Color */
      border-color: #5864FF #5864FF #ddd;
      border-radius: 50%;
      border-width: 6px; }
    .preloader .loader .ytp-spinner-left .ytp-spinner-circle {
      left: 0;
      right: -100%;
      border-right-color: #ddd;
      -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
    .preloader .loader .ytp-spinner-right .ytp-spinner-circle {
      left: -100%;
      right: 0;
      border-left-color: #ddd;
      -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

/*===========================
    02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }


@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-left: auto!important;
}}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #02002b;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .sticky .navbar {
    padding: 10px 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .sticky .navbar {
        padding: 10px 0; } }
    @media (max-width: 767px) {
      .sticky .navbar {
        padding: 10px 0; } }
    .sticky .navbar .navbar-nav .nav-item a {
      color: #ffffff; }
      .sticky .navbar .navbar-nav .nav-item a::before {
        color: #ffffff; }
    .sticky .navbar .navbar-toggler .toggler-icon {
      background: #ffffff; }

.sticky-logo {
    width: 100px!important;
}

@media only screen and (max-width: 991px) {
    .navbar-brand img {
    max-width: 190px!important;
}
}

.navbar {
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 20px 0; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
      padding: 17px 0; } }
  @media (max-width: 767px) {
    .navbar {
      padding: 17px 0; } }

.navbar-brand {
  padding: 0; }
  .navbar-brand img {
    max-width: 260px;
    padding: 10px 0; 
 }

.navbar-toggler {
  padding: 0; }
  .navbar-toggler:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0; }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(22, 36, 71, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(22, 36, 71, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(22, 36, 71, 0.1);
    padding: 5px 12px; } }

.navbar-nav .nav-item {
  position: relative;
  margin-left: 40px; }
  .navbar-nav .nav-item a {
    font-family: 'GT America CM'!important;
    font-size: 19px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1; }
    .navbar-nav .nav-item a::before {
      content: '';
    position: absolute;
    height: 1px;
    width: 0;
    border-radius: 16px;
    background: #03d1ff;
    bottom: 7px;
    left: 0;
    z-index: -1;
}
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .nav-item a::before {
          background: #162447;
          top: auto;
          bottom: 0; } }
      @media (max-width: 767px) {
        .navbar-nav .nav-item a::before {
          background: #162447;
          top: auto;
          bottom: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item a {
        display: inline-block;
        padding: 6px 0px;
        color: #162447; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item a {
        display: inline-block;
        padding: 6px 0px;
        color: #162447; } }
    .navbar-nav .nav-item a:hover::before, .navbar-nav .nav-item a.active::before {
      width: 100%; }
  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    .navbar-nav .nav-item .sub-menu li {
      display: block; }
      .navbar-nav .nav-item .sub-menu li a {
        display: block;
        padding: 8px 20px;
        color: #222; }
        .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
          padding-left: 25px;
          color: #5864FF; }

.navbar-nav .sub-nav-toggler {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #222;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #222;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }


.navbar-nav .sub-nav-toggler span {
width: 8px;
height: 8px;
border-left: 1px solid #222;
border-bottom: 1px solid #222;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
position: relative;
top: -5px; }

.synth-landing-hero {
	height: 100vh;
}


.synth-grants-landing-hero {
	height: 100vh;
}

.synth-vh {
    margin-top: 50vh;
}

.grants-vh {
    margin-top: 53vh;
    text-align: center;
}


.view-proposal {
    margin-bottom: 5px;
}

.active-tab-header {
    color: #00D1FF;
    font-size: 18px;
    font-weight: bold;
    
}

.synth-blue {
    color: #00D1FF;
}

.synth-pink {
    color: #e11af5!important;
}

.hero-content.synth-vh {
    text-align: center;
}

.synth-gdao-mini-logo {
    text-align: center;
    margin-top: 120px;
}

.synth-align-center {
	text-align: center;
}

.synth-p-opti {
    max-width: 650px;
    display: block;
    margin: auto;
}

.join-innitiative-btn {
    width: 450px;
    margin-top: -80px;
    margin-right: -50px;
}

.join-innitiative-btn:hover {
    opacity: 0.9;
}

.synth-grant-btn {
    width: 400px;
    margin: -40px 0 120px -70px;
}

.synth-grants-apply-btn {
    width: 400px;
    margin: -40px 0 0 -70px;
}


.synth-grants-innitiative-btn {
    width: 400px;
    margin: -40px 0 0 -70px;
}

.synth-grants-disconnect-btn {
    width: 400px;
    margin: -40px 0 0 -70px;
}

.synth-treasury-btn-wrapper {
}

.synth-treasury-btn {
    width: 400px;
    margin: 0 0 0 -60px;
}

.apply-for-grant-btn {
    width: 450px;
    margin-top: -80px;
    margin-left: -50px;
}

.apply-for-grant-btn:hover {
    opacity: 0.9;
}

.synth-proto-excerpt {
    bottom: 10%;
    font-family: 'GT America CM';
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
    position: absolute;
    max-width: 550px;
    z-index: 40;

}

.synth-hero-section {
  position: relative;
  z-index: 1;
  padding: 180px 0 50px;
  background-image: url("../img/hero/synth_home_hero.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
}


.synth-grants-indi-section {
  position: relative;
  z-index: 1;
  padding: 200px 0 50px;
  background-image: url("../img/hero/synth_grants_individual_hero.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
  height: 100vh;
}

.synth-grants-blog-section {
  position: relative;
  z-index: 1;
  padding: 200px 0 50px;
  background-image: url("../img/hero/synth_grants_individual_hero.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
  height: 100vh;
}



.synth-grants-innitiatives-section {
  position: relative;
  z-index: 1;
  padding: 200px 0 50px;
  background-image: url("../img/hero/synth_innitiatives_hero.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
  height: 100vh;
}

.grants-descr-wrapper {
    max-width: 900px;
    margin: auto;
    padding: 50px 0;
}

.candidates-h {
    margin: 0 0 15px;
    font-size: 19px;
    text-transform: uppercase;
    font-family: GT America CM;
    color: #00D1FF;
    margin-right: 10px;
}

.votes-h {
    margin: 0 0 15px;
    font-size: 19px;
    text-transform: uppercase;
    font-family: GT America CM;
    margin-right: 10px;
}

.callout-btn {
    border: 2px solid #30CB9D!important;
    color: #30CB9D!important;
    /* background: #02daff47!important; */
    text-shadow: 0px 1px 1px #00000057;
    font-size: 19px!important;
    margin: 0 15px 15px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    float: right;
}

.max-width {
    max-width: 900px;
    margin: 30px auto!important;
}

.synth-g-btn {
    border: 2px solid #e11cf5!important;
    color: #e11cf5!important;
    background: #bd16d454!important;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #00000057;
    font-size: 16px!important;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 15px;
    font-family: 'GT America CM';
    margin-top: auto;
}

    
.synth-g-btn:hover {
    opacity: 0.7!important;
}

img.member-avatar {
    width: 45px;
    float: right;
}

.gt-america {
    font-family: 'GT America CM';
}

.synth-i-btn {
    border: 2px solid #bd16d4!important;
    color: #bd16d4!important;
    background: #bd15d43b!important;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #00000057;
    font-size: 13px!important;
    margin: 0 0 30px;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 5px;
    font-family: 'GT America CM';
    float: right;
}

.synth-i-btn:hover {
    opacity: 0.8!important;
}

.synth-v-btn {
    border: 2px solid #30cb9d!important;
    color: #30cb9d!important;
    background: #30cb9d3b!important;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #00000057;
    font-size: 13px!important;
    margin: 0 -60px 30px;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 5px;
    font-family: 'GT America CM';
    float: right;
}

.synth-v-btn:hover {
    opacity: 0.8!important;
}

.synth-dc-btn {
    border: 2px solid #fff!important;
    color: #fff!important;
    background: #ffffff38;
    text-shadow: 0px 1px 1px #00000057;
    font-size: 13px!important;
    margin: 0 0 30px;
    letter-spacing: 1px;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 5px;
    font-family: 'GT America CM';
    float: right;
}

.gm-wrapper {
}

.synth-dc-btn:hover {
    opacity: 0.8!important;
}

.grants-excerpt {
    color: #fff;
}



.h4-grants-dao-descr {
    margin: 15px 0 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: GT America CM;
    letter-spacing: 1px;
}

.grants-individual-vh {
    margin-top: 51vh;
    text-align: center;
}


.info-left {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
    color: #787882;
}

.info-right {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
    color: #00D1FF;
}

img.custom-icons {
    width: 24px;
    padding-bottom: 1px;
    margin-left: 1px;
}

.align-center {
    text-align: center;
}

.votes-amount {
    background-color: #BD18D4;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    padding: 1px;
    margin-right: 20px;
}

.gdao-mini-logo {
    width: 150px;
}

.no-margin {
    margin: 0!important;
    padding: 0;
}

section.grants-data {
    padding-bottom: 60px;
}

.synth-grants-hero-section {
  position: relative;
  z-index: 1;
  padding: 180px 0 50px;
  background-image: url("../img/hero/synth_grants_hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
  height: 100vh;
}

@media only screen and (min-width: 1800px) {
      .synth-grants-hero-section {
      padding: 220px 0 50px!important;
      height: 110vh!important; }}

@media only screen and (min-width: 1600px) {
      .synth-grants-hero-section {
      height: 120vh!important; }}

@media only screen and (min-width: 1500px) {
      .synth-grants-hero-section {
      height: 110vh!important; }}


@media only screen and (min-width: 1400px) {
      .synth-grants-hero-section {
      padding: 270px 0 50px!important;
      height: 100vh!important; }}
    
@media only screen and (min-width: 992px) and (max-width: 1199px) {
      .synth-grants-hero-section {
      height: 97vh; }}

@media only screen and (min-width: 768px) and (max-width: 991px) {
      .synth-grants-hero-section {
      height: 93vh; }}

@media (max-width: 767px) {
      .synth-grants-hero-section {
      height: 93vh; }}

@media (max-width: 400px) {
      .synth-grants-hero-section {
      height: 93vh; }}



.grants-intro-section {
    padding: 60px 0 15px 0;
}

.synth-hero-section .hero-content {
margin-bottom: 100px; }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .synth-hero-section .hero-content {
        margin-bottom: 0px; } }
    @media (max-width: 767px) {
      .synth-hero-section .hero-content {
        margin-bottom: 0px; } 
        
      .synth-hero-section .hero-content h1 {
        font-size: 40px;
        margin-bottom: 35px;
        color: #fff;
        text-shadow: 0px 2px 2px #000000e3;
        letter-spacing: 2px; }}
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        .synth-hero-section .hero-content h1 {
          font-size: 40px; letter-spacing: 2px; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .synth-hero-section .hero-content h1 {
          font-size: 42px; } }
      @media (max-width: 767px) {
        .synth-hero-section .hero-content h1 {
          font-size: 36px; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        .synth-hero-section .hero-content h1 {
          font-size: 45px; } }
        .synth-hero-section .hero-content p {
          margin-bottom: 60px;
          font-size: 15px;
          line-height: 25px;
          color: #fff; }
      @media only screen and (min-width: 1400px) {

        .synth-vh {
            margin-top: 50vh;
        } 
        .synth-landing-hero {
        height: 100vh;
        }

        .synth-hero-section {
        background-position: bottom center;
        }}

        @media only screen and (min-width: 1600px) {
        .synth-landing-hero {
        height: 95vh;
        }}

        @media only screen and (min-width: 1800px) {
            
        .synth-footer-section {
            height: 1200px!important;
        }
            
        .synth-landing-hero {
        height: 100vh;
        }}

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            .synth-hero-section .hero-content .main-btn {
              border-color: #fff;
              color: #fff; }
            .synth-hero-section .hero-content .main-btn::after {
              background: rgba(255, 255, 255, 0.15); }
            .synth-hero-section .hero-content .scroll-bottom {
              position: absolute;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #fff;
              border: 3px solid #5864FF;
              color: #5864FF;
              left: 15px;
              bottom: 0;
                z-index: 9; }}
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .synth-hero-section .hero-img {
              padding-top: 30px;
              padding-bottom: 50px; } }
          @media (max-width: 767px) {
            .synth-hero-section .hero-img {
              padding-top: 30px;
              padding-bottom: 50px; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .synth-hero-section .hero-img img {
              width: 100%; } }
          @media (max-width: 767px) {
            .synth-hero-section .hero-img img {
              width: 100%; } }
          .synth-hero-section .hero-shape .shape {
              position: absolute;
              z-index: -1; }
          .synth-hero-section .hero-shape .shape.shape-1 {
              top: -285px;
              right: -300px; }
          @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            .synth-hero-section .hero-shape .shape.shape-1 {
              top: -420px;
              right: -550px; } }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .synth-hero-section .hero-shape .shape.shape-1 {
              top: -400px;
              right: -550px; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .synth-hero-section .hero-shape .shape.shape-1 {
              display: none; } }
          @media (max-width: 767px) {
            .synth-hero-section .hero-shape .shape.shape-1 {
              display: none; } }

.feature-section .single-feature {
  text-align: center;
  padding: 30px 10px 0 10px; }
  @media only screen and (min-width: 1400px) {
    .feature-section .single-feature {
      padding: 30px 40px; } }
  .feature-section .single-feature .icon {
    width: 90%;
    margin: auto;
}
  .feature-section .single-feature .content h3 {
    margin-bottom: 10px; 
	font-family: 'GT America CM';
	text-transform: uppercase;
}

.feature-section {
	background-image: linear-gradient(#20011d, #202846);
    padding-bottom: 80px;
}

.grants-section-bg {
	background-image: linear-gradient(#00040a, #220327);
    padding-bottom: 80px;
}

.grants-indi-bg {
    background: linear-gradient(#08081c, #220327);
}

.data-p {
    padding-right: 15px!important;
}

.social-icons-wrapper {
    display: flex;
    position: absolute;
    bottom: 70px;
}

no-margin {
    margin: 0;
}

.footer-text-wrapper {
    position: absolute;
    bottom: 70px;   
}

.synth-footer-logo-wrapper {
    position: absolute;
    bottom: 70px;  
}

.synth-footer-blurb-wrapper {
    max-width: 880px;
    display: block;
    margin: auto;
    padding: 60px 0;
}


/*Additional Device*/

 @media (max-width: 600px) {
        a.synth-home-btn.synth-blue-button.main-btn.border-btn.btn-hover.wow.fadeInUp {
		  width: 200px;
		  text-align: center;
		  display: inline-block;
		  padding: 10px;
		  margin-bottom: 20px;
		  margin-top: 0; } 
     
         .sunth-footer-section {
             display: none!important;
         }
     
        .join-innitiative-btn {
           width: 100%!important;
         }
     
        .apply-for-grant-btn {
          width: 100%!important;
         }
     
        img.synth-proto {
           width: 100%;
           margin: 30px auto;
          padding: 15px 0 0 0;
          }
     
         .process-section {
            height: 750px;
          }

       .join-innitiative-btn {
          width: 100%;
          display: block;
          margin: auto;
          text-align: center;
          margin-top: -30px!important;
          }
     
       .apply-for-grant-btn {
          width: 100%;
          display: block;
          margin: auto;
          text-align: center;
          margin-top: -110px!important;
          }
     
       .synth-hero-section .hero-content p {
          margin-bottom: 0;
          }
	 
	 a.synth-pink-button.main-btn.border-btn.btn-hover.wow.fadeInUp {
		  width: 200px;
		  text-align: center;
          display: inline-block;
		  padding: 10px;
		  margin-bottom: 20px;
		  margin-top: 0; } 

	 
	 	.synth-home-btn {
			margin-right: 0;}}


        @media (max-width:800px) {
            
        .apply-for-grant-btn {
            width: 450px;
            margin-top: -100px;
            margin-left: 0;
            }
            
        .synth-proto-excerpt {
            bottom: 20%;
        }
             
        img.synth-proto {
            margin: auto;
            padding: 40px 0;
            width: 90%;
            display: block;
        }
            
        .join-innitiative-btn {
            width: 450px;
            margin-top: -130px;
            margin-right: 0; }}



/* Dividers */

.synth-divider {
    border-top: 1px solid #bd16d4;
}

.synth-tab-divider {
    border-top: 1px solid #bd16d4;  
}

.synth-tab-divider-filters {
    border-bottom: 1px solid #bd16d4;  
    margin-bottom: 20px!important;
}

/* Tabs */

.synth-tabs {
  padding: 20px 5px;
}


ul.tabs {
  text-align: center;
  padding: 0;
  margin: 0;
}
ul.tabs li {
    display: inline-block;
    padding: 0 24px;
    font-family: 'GT America CM';
    letter-spacing: 1px;
    font-size: 16px;
}
ul.tabs li a {
  outline: 0;
  color: #fff;
}
ul.tabs li a:hover, ul.tabs li a.selected {
  color: #2fabe1;
  font-weight: bold; 
}

.tab-pane {
  padding: 100px 30px;
}

@media only screen and (max-width: 767px) {
  ul.tabs li {
    display: block;
    text-align: left;
    padding: 0;
  }
  ul.tabs li a {
    color: #000;
    display: block;
    padding: 20px 24px;
  }
}
/**
**	Main css for plugin
**/
.selected-tab {
  position: relative;
  height: 40px;
  padding: 5px 35px 5px 15px;
  line-height: 30px;
  color: #747474;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(116, 116, 116, 0.25);
}
.selected-tab:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #747474;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
  .tab-to-dropdown {
    position: relative;
  }

  .converted-tab {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
  }
}

.filter-wrapper {
    margin-top: 60px;
}
